<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <section class="form-login">
        <h5>Iniciar Sesión</h5>
        <input class="controls" type="text" name="Registro_Academico" value="" placeholder="Registro_Academico">
        <input class="controls" type="password" name="contraseña" value="" placeholder="Contraseña">
        <input class="buttons" type="submit" name="" value="Ingresar">
        <p><a href="#">¿Olvidastes tu contraseña</a></p>
    </section>
</body>
</html>