
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <section>
        <div id="singrid">
            <p>Singrid Cristabel Chicoj Martinez<br>202010910</p>
        </div>
        <div id="luis">
            <p>Luis Enrique Garcia Gutierrez<br>202010814</p>
        </div>
        <div id="andres">
            <p>Andrés Emilio Peñate Hernández<br>201708550</p>
        </div>
    </section>
    <section>
        <div class="logo">
        </div>
        <div class="botones">
            <input class="buttons" type="submit" value="Inicio de Sesión">
            <input class="buttons" type="submit" value=" Crear Usuario">
        </div>
    </section>
</body>
</html>